@page "/FusionPodList"
@using System.Threading
@using Desktop.Fusion
@using System.Collections.Immutable
@inherits LiveComponentBase<ImmutableList<V1Pod>>
@inject PodList Pods

<h3>FusionPodList</h3>
<ul>
    @foreach (var pod in State.Computed.Value.ToList())
    {
        <li>
           @pod.Metadata.Name
        </li>
    }
</ul>
@code {
    
    protected override async Task<ImmutableList<V1Pod>> ComputeStateAsync(CancellationToken cancellationToken)
    {
        return await Pods.GetAll();
    }

}