@page "/FusionPodList"
@using System.Threading
@using Desktop.Services
@using Stl.Fusion
@inherits LiveComponentBase<List<V1Pod>>
@inject FusionEntitiesDatabase<V1PodList, V1Pod> Pods

<h3>FusionPodList</h3>
<ul>
    @foreach (var pod in State.LastValue)
    {
        <li>
            @pod.Kind - @pod.Metadata.Name - @pod.Metadata.CreationTimestamp
        </li>
    }
</ul>
@code {
    
    protected override async Task<List<V1Pod>> ComputeStateAsync(CancellationToken cancellationToken)
    {
        Console.WriteLine("Component.ComputeStateAsync");
        var v1Pods = await Pods.GetAllNamespaced();
        Console.WriteLine($"Component.ComputeStateAsync - Got {v1Pods.Count} items");
        return v1Pods;
    }
}