@page "/Legend"
@using k8s
@using System.Collections.Concurrent
@inject Kubernetes KubernetesClient

<h1>
    Legend
</h1>
@{
    ConcurrentDictionary<string, string> dic = null;
}
@foreach (var pod in dic)
{
    <li>
        in
    </li>
}