
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.entity-circle-pod
{
    fill: pink;
    stroke: #fff;
    stroke-width: 1.5px;
}

.entity-circle-service
{
    fill: lightblue;
    stroke: #fff;
    stroke-width: 1.5px;
}

.entity-circle-ingress
{
    fill: lightgreen;
    stroke: #fff;
    stroke-width: 1.5px;
}