@inherits LayoutComponentBase

<div class="container-fluid p-0">
    <div class="col p-0" id="main">
        <nav class="navbar fixed-top navbar-light bg-light">
            <SwitchContext/>
        </nav>
        <div class="content px-0 pt-6 h-100">
            <div class="row">
                <div class="col-2" id="sticky-sidebar">
                    <div class="sticky-top">
                        <Navigation/>
                    </div>
                </div>
                <div class="col">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>

@* <NamespaceFiltering/> *@