@inherits LayoutComponentBase
<div class="page">    
<nav class="navbar fixed-top navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item dropdown">
            <SwitchContext/>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="content row pt-6 h-100">
        <div class="col-2 border-right vh-100 position-fixed overflow-auto" id="sticky-sidebar">
            <Navigation/>
        </div>
        <div class="col offset-2">
            @Body
        </div>
        <NamespaceFiltering/>
    </div>
</div>
</div>