@if (_navMenuIsCollapsed)
{
    <button class="btn btn-outline-info" @onclick="ToggleNavMenu">
        <span class="oi oi-fullscreen-enter"></span>
    </button>
}

<div class="@NavMenuCssClass">
    <button @onclick="ToggleNavMenu" class="col btn btn-outline-info">
        <span class="oi oi-fullscreen-exit"></span>
    </button>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    private bool _navMenuIsCollapsed = false;
    private string NavMenuCssClass => $"sidebar scroll-y {(_navMenuIsCollapsed ? "collapse" : null)}";

    private void ToggleNavMenu()
    {
        _navMenuIsCollapsed = !_navMenuIsCollapsed;
    }
}