@typeparam T
@using System.Collections.Concurrent
@if (Entities == null)
{
    <Loading/>
}
else
{
    <table class="table">
        <thead>
        @Header
        </thead>
        <tbody>
        @Body
        </tbody>
    </table>
}


@code
{
    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public List<T> Entities { get; set; }
}