@using k8s.Models
@inherits Desktop.Components.KubernetesKindReferences.Base.BaseReference<CertManagerDefinitions.Certificate>

<BaseReferenceMarkup Entity="@Entity" ColorClass="@ColorClass" IconClass="@IconClass" Url="@Url">
    <span class=""></span>
    @ChildContent
</BaseReferenceMarkup>

@code
{
    /// <inheritdoc />
    protected override void OnInitialized()
    {
        Construct("CertificateColor", "Certificate", "oi oi-fork");
        base.OnInitialized();
    }

}