@using k8s.Models
@inherits Desktop.Components.KubernetesKindReferences.Base.BaseReference<V1DaemonSet>

<BaseReferenceMarkup Entity="@Entity" ColorClass="@ColorClass" IconClass="@IconClass" Url="@Url">
    <span class=""></span>
    @ChildContent
</BaseReferenceMarkup>

@code
{
    /// <inheritdoc />
    protected override void OnInitialized()
    {
        Construct("DaemonSetColor", "DaemonSet", "oi oi-battery-empty");
        base.OnInitialized();
    }

}