@page "/{RequestedEntityNamespace}/ConfigMap/{RequestedEntityName}"
@using Desktop.Services
@inherits LiveDetails<V1ConfigMapList, V1ConfigMap>


<KubernetesResourceDetails Entity="@State.LastValue">
    <Specifications>
        <BSRow class="my-2">
            <BSCol>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">
                            Misc
                        </BSCard>
                        <BSCard CardType="CardType.Text">
                            <BSRow>
                                <BSCol>
                                    Is immutable: <code>@State.LastValue.Immutable</code>
                                </BSCol>
                            </BSRow>
                            <BSRow>
                                <BSCol>
                                    Mounting pods: <ListPodsMountingConfigMap Entity="State.LastValue"  />
                                </BSCol>
                            </BSRow>
                        </BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>

        <BSRow class="my-2">
            <BSCol>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">
                            Data
                        </BSCard>
                        <BSCard CardType="CardType.Text">
                            <BSRow>
                                <BSCol>
                                    @foreach (var (key, value) in State.LastValue.Data ?? new Dictionary<string, string>())
                                    {
                                        <div>
                                            <span>@key</span>:
                                            <span>
                                                <pre><code>@value</code></pre>
                                            </span>
                                        </div>
                                    }
                                </BSCol>
                            </BSRow>
                        </BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
    </Specifications>
</KubernetesResourceDetails>

@code
{
    protected override void OnInitialized()
    {
        ParentPageName = "ConfigMaps";
        base.OnInitialized();
    }
}